<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>New User</h1>

<div>
    <form method="get" action="/users/delete">
        <p>Delete user with id = <%= user_id %></p>
        <input type="submit" value="ok">
    </form>


</div>

</body>
</html>