<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>New User</h1>

<div>
    <form method="post" action="/users/create">
        account_id: <input type="text">
        email: <input type="text">
        first_name: <input type="text">
        middle_name: <input type="text">
        last_name: <input type="text">
        <input type="submit">
    </form>


</div>

</body>
</html>